@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --text-color: #000000;
  --ui-primary: #000000;

  --ui-container: 1680px;

}

body {
  font-family: 'Geist', ui-sans-serif, system-ui, sans-serif;
  color: var(--text-color);
}